.bg_panel{
    background: linear-gradient(to bottom, #8D0000, #07033B, #04095D);
    width: 100%;
}

h1.intro-title {
    font-size: 57px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*
.d-flex.flex-column.align-items-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

